
* {
    box-sizing: border-box;
  } 

body {
    height: 100vh;
    padding: 0;
    margin: 0;

    width: 100%;
}

#main{
    background-image: url(/img/pocket.gif);
    background-size: cover;
    
    background-position: center center;

    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    margin: 0;
    background-color: #333333;
    padding: 5px 10px;
    padding-bottom: 10px;
    width: 100%;
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: baseline;
}

header li{
    font-family: roboto;
    font-weight: 400;
    font-size: 22px;
    display: inline;
  
    margin: 0;
    margin-right: 15px;
    padding: 0;
  
    color: #BBBBBB;
}

header ul {
    height: fit-content;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.logo {
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.scaleDown{
    width: 25%;
}

h1 {
    font-size: 56px;
    color: white;
}

h2 {
    font-size: 24px;
    margin: 0;
}

p{
    font-size: 16px;
}

a{
    color: #BBBBBB;
    text-decoration: none;
}

@font-face {
    font-family: font;
    src: url(font/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: roboto;
    src: url(font/RobotoSlab-VariableFont_wght.ttf);
}

.hero {
    font-family: font;
    margin: 15% 0;
    text-align: center;
    color: white;
}

.topBar{
    height: 12px;
    margin-top: 0;
}

.midBar{
    height: 8px;
    margin-top: 0;
}

.minBar{
    height: 5px;
    margin-top: 0;
}

.gallery1 {
    flex-shrink: 0;

    background-color: #333333;
    padding: 100px 10px;
    margin: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    align-content: center;
    height: 2000px;
}

.gallery1 img{
    margin: 5px 3px;
    padding: 0;
    object-fit: contain;
    border-radius: 4px;
    width: 23%;
    
    object-fit: contain;
}

@media (max-width: 768px) {

    header{
        justify-content:space-evenly;
    }

    .logo{
        flex-direction: column;
    }

    .gallery1{
        flex-wrap: nowrap;
        height: 6500px;
    }

    .gallery1 img{
        width: 94%
    }

    header li{
        font-weight: 350;
        font-size: 16px;
    }
}

.thumbnail {
    cursor: pointer;

    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 

}

.thumbnail:active{
    transform: scale(1.4);
    z-index: 999;
}

/*---------------------------------------------------------------------- PAGE 2 LAYOUT -----------------------------------------------------------------------------*/

#portfolio{
    background-color: rgb(60, 60, 60);
}

.title{
    text-align: center;
    margin-top: 55px;
    margin-bottom: 15px;
}

.heroPortfolio {
    width: 60%;
    font-family: font;
    margin: auto;
    text-align: center;
    color: white;
}

.entry {
    padding: 10px 15px;
    width: 100%;
    font-family: font;
    color: #BBBBBB;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.thumbnailGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.list p{
    margin-bottom: 0;
}

.thumb {
    display: inline-block;
    height: 400px;
    background-size: cover;
    margin-right: 25px;
}

.bold{
    font-weight: bold;
    color: white;
}

.yellow{
    color: cyan;
}

.white{
    color: white;
}

.entry p{
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 768px) {

   .card .thumb{
    max-width: 95%;
    height: auto;
   }

   .card{
    flex-direction: column;
   }

   .thumbnailGroup .thumb
   {
    margin-top: 15px;
    max-width: 30%;
    height: auto;
   }
}